.form {
    display: flex;
    flex-direction: column;
}

.form input {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

.row-field{
    display: flex;
    flex-direction: row;
}

.col-field{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 10px;
}

.form .row-field{
    margin-bottom: -20px;
    margin-right: 10px;
}
