<h1 mat-dialog-title>Add</h1>
<div mat-dialog-content >
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="form">
            <mat-form-field>
                <input matInput placeholder="Code" formControlName="order_code">
            </mat-form-field>
            <mat-form-field formGroupName="customer_code">
                <input matInput placeholder="Customer ID" formControlName="customer_id">
            </mat-form-field>
            <mat-form-field formGroupName="item_code">
                <input matInput placeholder="Item ID" formControlName="item_id">
            </mat-form-field>
            <mat-form-field>
                <input matInput  placeholder="Quantity" formControlName="quantity">
            </mat-form-field>
        <button mat-button type="submit" [disabled]="!orderForm.valid">Submit</button>
    </form>
